.idea
.env
bitrix_app
birthDatesContactsLast5Days.json
birthDatesContactsToday.json
contacts.json
mediDealsAndContacts.json
tables.docx
/root/bitrixChatgpt/tables.docx
company_mapping.json
bitrix_data.xlsx
table.xlsx
print.jpg
sign.jpg
outputContacts.json
torgi_new/hrefs.json
telegramContactsCrmConsulting.json